.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 1;
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;
}

.cursor-dot {
    width: 8px;
    height: 8px;
    background-color: red;
}

.cursor-dot-outline {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 2px solid red;
    box-shadow: 0px 0px 2px 2px #1401e4;
    filter: blur(1px);

    margin: 0;
    padding: 0;
}

a:hover {
    .cursor-dot-outline {
         transform: scale(3)
    }
   
}




    
